html {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;

    &.lock {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    transition: all .3s ease;

    &:hover {
        transform: scale(1.1);
    }

    img {
        display: block;
        max-width: 100%;
    }
}

.link {
    font-size: 16px;
    line-height: 18px;
    padding-left: 7px;
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transition: all .3s ease;
    }

    &::before {
        content: "";
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        position: absolute;
        left: -7px;
        top: 1px;
        border-radius: 2px;
        transition: all .3s ease;
    }

    &_yellow {
        color: #FFD723;

        &::before {
            border-left: 8px solid #FFD723;
        }

        &::after {
            background-color: #FFD723;
        }
    }

    &_grey {
        color: #D4D6D4;
        transition: all .3s ease;

        &::before {
            border-left: 8px solid #D4D6D4;
        }

        &::after {
            background-color: #D4D6D4;
        }

        &:hover {
            color: #FFD723;

            &::before {
                border-left: 8px solid #FFD723;
            }

            &::after {
                background-color: #FFD723;
            }
        }
    }
}